<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>

</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>



<%= @post.content %>



<% @post_attachments.each do |p| %>
     <div class="thumbnail">
         <%= image_tag p.picture_url, :style => "width: 500px"; %>
     </div>
<% end %>

<%= render 'shared/like_form', likeable: @post %>
<div class="likes"><%= pluralize(@post.likers(User).count, 'like')%></div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
